<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>D-List Coders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content=""/>
    <meta name="keywords" content=""/>
    <link rel="icon" href="/binary.png">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
	<!-- Fixed navbar -->    
    <div id="navbar">
        <img src="/assets/images/logo/D-List-Logo-Header-Half.png" style="float: left; width: 50%; height: 50%;"/>
        <span style="display: flex; align-items: center;font-size: 2.5em;">
            <h1 class="logo" style="margin-bottom: 0px;">
                &nbsp;<a class="logo" href="/">D-List Coders</a>
            </h1>
        </span>
	  </div>
    <div id="headerSpacer"></div>
    <div id="content" style="">

      {{ content }}
      <hr />

    </div>
    
    <div id="xfooter" style="">
      &nbsp;&nbsp;&nbsp;<span>Improve every day.</span>
    </div>
    
  </body>
</html>

